<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>Profile</h1>
        </div>

        <!-- Navbar -->
        <ul>
            <li>
                <a href="#message">
                    <span class="icon-count">29</span>
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#notification">
                    <span class="icon-count">59</span>
                    <i class="fa fa-bell fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#sign-out">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->

    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <img src="../public/images/logoN12.png" alt="#">
            <div class="name">
                N12-Project Staffs
            </div>
            <div class="job">
                VeReMa Company
            </div>
        </div>

        <div class="sidenav-url">
            <div class="url">
                <a href="#profile" class="active">Profile</a>
                <hr align="center">
            </div>
            <div class="url">
                <a href="/about.ejs">Staff home</a>
                <hr align="center">
            </div>
        </div>
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>IDENTITY</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr>
                            <td>Mã nhân viên</td>
                            <td>:</td>
                            <td>
                                <%= detailUser[0].ma_nv %>
                            </td>
                        </tr>
                        <tr>
                            <td>Tên nhân viên</td>
                            <td>:</td>
                            <td>
                                <%= detailUser[0].ten_nv %>
                            </td>
                        </tr>
                        <tr>
                            <td>Giới tính</td>
                            <td>:</td>
                            <td>
                                <%= detailUser[0].gioi_tinh %>
                            </td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td>:</td>
                            <td>
                                <%= detailUser[0].dia_chi %>
                            </td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>:</td>
                            <td>
                                <%= detailUser[0].sdt %>
                            </td>
                        </tr>
                        <tr>
                            <td>Ngày sinh</td>
                            <td>:</td>
                            <td>
                                <%= detailUser[0].ngay_sinh %>
                            </td>
                        </tr>
                        <tr>
                            <td>Lương</td>
                            <td>:</td>
                            <td>
                                <%= detailUser[0].luong %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End -->
</body>

</html>