<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management Page</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="admin-home">
        <header>
            <div class="menu-bar">
                <ul>
                    <li><a href="/logout.ejs"><i class="fas fa-sign-out-alt"></i></a></li>
                    <li><a href="/"><i class="fas fa-home"></i></a></li>
                </ul>
            </div>
        </header>
        <div class="left-nav">
            <h1>
                <img src="<%=admin[0].image%>" alt="admin"><br>
                <a>
                    ADMIN
                </a>
            </h1><br>
            <div id="action-nav">
                <button onclick="location.href = '/management.ejs';">Trang quản lí</button>
                <button onclick="openOrderForm()">Thêm mới phương tiện</button>
            </div>
        </div>
        <div class="main-page">
            <div class="first-line">
                <div class="form-new-order" id="order-form">
                    <form action="/" method="post">
                        <h1>Phiếu nhận xe</h1>
                        <label><b>Mã nhân viên</b></label>
                        <select name="maNv">
                            <%for(var i=0;i< staff.length; i++){%>
                                <option value="<%=staff[i].ma_nv%>">
                                    <%=staff[i].ma_nv%>
                                </option>
                                <%}%>
                        </select><br>
                        <label><b>Tên xe</b></label>
                        <input type="text" placeholder="Nhập tên xe" name="tenXe" required><br>
                        <label><b>Ngày nhận xe</b></label>
                        <input type="text" name="ngayNhan" value="<%=today%>" required><br>



                        <button type="submit" class="btn">Thêm</button>
                        <button type="button" class="btn cancel" onclick="closeOrderForm()">Đóng</button>
                    </form>
                </div>
                <div class="all-user-label">
                    <h1>Danh sách tài khoản</h1>
                    <div class="all-user" id="accounts-form">
                        <table>
                            <tr>
                                <th>Mã tài khoản</th>
                                <th>Tên tài khoản</th>
                                <th>Hình ảnh</th>
                                <th>Quyền</th>
                            </tr>
                            <%for(var i=0; i< accounts.length; i++){%>
                                <tr>
                                    <td>
                                        <%=accounts[i].ma_tk%>
                                    </td>
                                    <td>
                                        <%=accounts[i].ten_tk%>
                                    </td>
                                    <td>
                                        <img src="<%=accounts[i].image%>">
                                    </td>
                                    <td>
                                        <%=accounts[i].quyen%>
                                    </td>
                                </tr>
                                <%}%>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- SCRIPTS PLACE -->
    <script>
        function openOrderForm() {
            document.getElementById("order-form").style.display = "block";
        }

        function closeOrderForm() {
            document.getElementById("order-form").style.display = "none";
        }
    </script>
</body>

</html>