<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/icon/batman-icon.png" type="image/gif" />

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>Your VeReMa Profile</h1>
        </div>
        <!-- Navbar -->
        <ul>
            <li>
                <a href="/manager.ejs">
                    <i class="fas fa-users"></i>
                </a>
            </li>
            <li>
                <a href="/index.ejs">
                    <i class="fas fa-warehouse"></i>
                </a>
            </li>
            <li>
                <a href="/logout.ejs">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>THÔNG TIN CÁ NHÂN</h2>
        <div class="card">
            <div class="card-body">
                <%if(type=="nv" ){%>
                    <img src="<%= img[0].image %>" height="100px" width="100px" alt="Avatar">
                    <table>
                        <tbody>
                            <tr>
                                <td>Mã nhân viên</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].ma_nv %>
                                </td>
                            </tr>
                            <tr>
                                <td>Tên nhân viên</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].ten_nv %>
                                </td>
                            </tr>
                            <tr>
                                <td>Giới tính</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].gioi_tinh %>
                                </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].dia_chi %>
                                </td>
                            </tr>
                            <tr>
                                <td>Số điện thoại</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].sdt %>
                                </td>
                            </tr>
                            <tr>
                                <td>Ngày sinh</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].ngay_sinh %>
                                </td>
                            </tr>
                            <tr>
                                <td>Ngày gia nhập</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].ngay_gianhap %>
                                </td>
                            </tr>
                            <tr>
                                <td>Lương</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].luong %>
                                </td>
                            </tr>
                            <tr>
                                <td>Tên tài khoản</td>
                                <td>:</td>
                                <td>
                                    <%= detailUser[0].ten_tk %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <%}else{%>
                        <img src="<%= img[0].image %>" height="100px" width="100px" alt="Avatar">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Mã khách hàng</td>
                                    <td>:</td>
                                    <td>
                                        <%= detailUser[0].ma_kh %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tên khách hàng</td>
                                    <td>:</td>
                                    <td>
                                        <%= detailUser[0].ten_kh %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ</td>
                                    <td>:</td>
                                    <td>
                                        <%= detailUser[0].dia_chi %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại</td>
                                    <td>:</td>
                                    <td>
                                        <%= detailUser[0].sdt %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tên tài khoản</td>
                                    <td>:</td>
                                    <td>
                                        <%= detailUser[0].ten_tk %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <%}%>
            </div>
        </div>
    </div>
    <!-- End -->
</body>

</html>