<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update profile</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/icon/batman-icon.png" type="image/gif" />

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>Update profile</h1>
        </div>
        <!-- Navbar -->
        <ul>
            <li>
                <a href="javascript:history.back()">
                    <i class="fas fa-users"></i>
                </a>
            </li>
            <li>
                <a href="/index.ejs">
                    <i class="fas fa-warehouse"></i>
                </a>
            </li>
            <li>
                <a href="/logout.ejs">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div>
    <!-- End -->
    <div class="main">
        <h2>THÔNG TIN CÁ NHÂN</h2>
        <div class="card1">
            <div class="card-body">
                <%if(type=="kh" ){%>
                    <form action="/update.ejs" method="post">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Mã khách hàng</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" value="<%=detailUser[0].ma_kh %>" name="maKh" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tên khách hàng</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="tenKh" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="diaChi" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="soDt" value="<%= detailUser[0].sdt %>" readonly
                                            required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tên tài khoản</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" value="<%= detailUser[0].ten_tk %>" name="tenTk" readonly>
                                    </td>
                                <tr>
                                    <td>Chức vụ</td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" value="<%=type %>" name="chucVu" readonly>
                                    </td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                        <input type="submit" value="Update">
                    </form>
                    <%}else{%>
                        <form action="/update.ejs" method="post">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Mã nhân viên</td>
                                        <td>:</td>
                                        <td>
                                            <input type="text" value="<%=detailUser[0].ma_nv %>" name="maKh" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tên nhân viên</td>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="tenKh" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Địa chỉ</td>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="diaChi" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Số điện thoại</td>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="soDt" value="<%= detailUser[0].sdt %>" readonly
                                                required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Lương</td>
                                        <td>:</td>
                                        <td>
                                            <input type="text" name="luong" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tên tài khoản</td>
                                        <td>:</td>
                                        <td>
                                            <input type="text" value="<%= detailUser[0].ten_tk %>" name="tenTk"
                                                readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Chức vụ</td>
                                        <td>:</td>
                                        <td>
                                            <input type="text" value="<%=type %>" name="chucVu" readonly>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="submit" value="Update">
                        </form>
                        <%}%>
            </div>
        </div>
    </div>
    <!-- End -->
</body>

</html>