<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/icon/batman-icon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
</head>

<body>
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/index.ejs"><img src="/images/logo1.png" style="border-radius: 10%;"
                                            alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="menu-bar">
                                <div class="collapse navbar-collapse" id="navbarsExample04">
                                    <ul class="navbar-nav mr-auto">
                                        <%if(role=="admin"){%>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/manager.ejs">Quản lí</a>
                                            </li>
                                            <%}%>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/index.ejs"> Trang chủ </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/about.ejs">Thông tin</a>
                                                </li>
                                                <li class="nav-item active">
                                                    <a class="nav-link" href="/furnitures.ejs">Sản phẩm</a>
                                                    <div class="sub-nav">
                                                        <ul>
                                                            <li><a class="nav-link" href="/vproducts.ejs/1">Phụ tùng</a>
                                                            </li>
                                                            <li><a class="nav-link" href="/repair.ejs">Sửa chữa</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/contact.ejs">Liên hệ</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/chat.ejs">Chat</a>
                                                </li>
                                                <%if(token !=null ){%>
                                                    <li class="nav-item d_none">
                                                        <a class="nav-link" href="/yourprofile.ejs"><i
                                                                class="fa fa-user-circle padd_right"
                                                                aria-hidden="true"></i>
                                                            Hello, <%=name%> (<%=role%>)</a>
                                                        <a class="nav-link" href="/logout.ejs">Logout</a>
                                                    </li>
                                                    <%}else{%>
                                                        <li class="nav-item d_none">
                                                            <a class="nav-link" href="/signin.ejs"><i
                                                                    class="fa fa-user-circle padd_right"
                                                                    aria-hidden="true"></i>Login</a>
                                                            <a class="nav-link" href="/signin.ejs">To join us</a>
                                                        </li>
                                                        <%}%>
                                                            <li class="nav-item d_none">
                                                                <a class="nav-link" href="#"><i class="fa fa-search"
                                                                        aria-hidden="true"></i></a>
                                                            </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->
    <!--  -->
    <div class="prod">
        <div class="addproduct">
            <div class="rounded p-4 rounded mb-4">
                <%if(role=="admin"){%>
                    <div id="addp">
                        <!-- <strong><a href="/addprod.ejs">Add new item</a></strong> -->
                    </div>
                    <%}%>
            </div>
            <div class="rounded p-4 rounded mb-4">
                <%if(role=="admin"){%>
                    <div id="addp">
                        <!-- <strong><a href="/updateprod.ejs">Update item</a></strong> -->
                    </div>
                    <%}%>
            </div>
        </div>
        <div class="addproductleft">
            <div class="rounded p-4 rounded mb-4">
                <div id="cateprod">
                    <h1>Categories: </h1>
                    <a href="/vproducts.ejs/DauNhot/1">Dầu Nhớt</a><br>
                    <a href="/vproducts.ejs/PhuTung/1">Phụ Tùng</a><br>
                    <a href="/vproducts.ejs/VoXe/1">Vỏ Xe</a><br>
                    <a href="/vproducts.ejs/PhuKien/1">Phụ Kiện</a><br>
                    <a href="/vproducts.ejs/1">Tất cả sản phẩm</a><br>
                </div>
            </div>
            <div class="rounded p-4 rounded mb-4">
                <%if(role=="admin"){%>
                    <div id="addp">
                        <strong><a href="/addprod.ejs">Add new item</a></strong>
                    </div>
                    <%}%>
            </div>
            <div class="rounded p-4 rounded mb-4">
                <%if(role=="admin"){%>
                    <div id="addp">
                        <strong><a href="/updateprod.ejs">Update item</a></strong>
                    </div>
                    <%}%>
            </div>
            <div class="rounded p-4 rounded mb-4">
                <%if(role=="admin"){%>
                    <div id="addp">
                        <strong><a href="/deleteprod.ejs">Delete item</a></strong>
                    </div>
                    <%}%>
            </div>
        </div>
        <div class="messcate">
            <h1 style="font-style: normal;">
                <%=Hello%>
            </h1>
        </div>
        <div class="row mb-5">
            <% if(detailProduct !=null){%>
                <% for(let i=0; i< detailProduct.length; i++){%>
                    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                        <div id="pchange" class="block-4 text-center border">
                            <figure class="block-4-image">
                                <img src="<%=detailProduct[i].image%>" alt="Image placeholder" width="100px"
                                    height="100px" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4">
                                <h3>
                                    <a href="#">
                                        <%=detailProduct[i].ten_pt%>
                                    </a>
                                </h3>
                                <p class="text-primary font-weight-bold">
                                    <%=detailProduct[i].don_gia%> VND
                                </p><br>
                                <%if(role=="admin"){%>
                                    <div id="upprod">
                                        <a href="/updateprod.ejs/<%=detailProduct[i].ten_pt%>/<%=detailProduct[i].don_gia%>/<%=detailProduct[i].so_luong%>/'<%=detailProduct[i].description%>'"
                                            target="_self">Update
                                            item</a>
                                        <a href="/confirmdelete.ejs/<%=detailProduct[i].ten_pt%>"> Delete this </a>
                                    </div>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                    <%}%>
                        <%}%>
        </div>
        <%if(cate==null){%>
            <div id="paging">
                <div id="pagination">
                    <%for(let i=1; i <=endP; i++){%>
                        <a href="/vproducts.ejs/<%= i %>">
                            <%= i %>
                        </a>
                        <%}%>
                </div>
                <h2>Trang: <%= page%>
                </h2>
            </div>
    </div>
    <%}%>
        <footer id="contact">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" id="copyright">
                            <p>Copyright 2023 All Right Reserved By VeReMa</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </footer>
</body>

</html>